* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
}

/* LINKS */
a {
  text-decoration: none;
  color: white;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

nav a {
  font-size: 14px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 15px;
}

.hero h1 {
  font-size: 26px;
  color: #38bdf8;
  min-height: 50px;
}

.hero h2 {
  font-size: 18px;
  margin-top: 10px;
}

.hero p {
  font-size: 14px;
  margin: 10px 0;
}

/* BUTTONS */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  background: #a78bfa;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
}

.btn-outline {
  border: 1px solid #a78bfa;
  padding: 10px 20px;
  border-radius: 8px;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

/* SKILLS */
.skills span {
  display: inline-block;
  margin: 5px;
  padding: 6px 10px;
  background: #1e293b;
  border-radius: 5px;
}

/* ICONS */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  font-size: 24px;
  margin: 0 10px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #a78bfa;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

/* DESKTOP */
@media (min-width: 768px) {

  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
  }

  .buttons {
    flex-direction: row;
  }

  .hero h1 {
    font-size: 40px;
  }

  section {
    padding: 40px 80px;
  }
}
